In [1]:
import numpy as np

In [2]:
import pandas as pd

In [6]:
df=pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])
df=df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
(df['one'].notnull())

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

In [8]:
(df.notnull())

     one    two  three
a   True   True   True
b  False  False  False
c   True   True   True
d  False  False  False
e   True   True   True
f   True   True   True
g  False  False  False
h   True   True   True

In [16]:
from numpy.random import randn
df=pd.DataFrame(randn(5, 2), index=[0, 1, 2, 3, 4], columns=['one', 'two'])
(df)

        one       two
0 -0.743216 -0.838238
1 -1.386953  1.089896
2  1.238191  0.159955
3  1.419218  0.769347
4 -0.739674  1.024735

In [17]:
(df['one'].sum())

-0.212434307412116

In [18]:
(df['two'].sum())

2.2056937053753085

In [19]:
(df['one'].count())

5

In [24]:
(df['one'].isnull())

0    False
1    False
2    False
3    False
4    False
Name: one, dtype: bool

In [40]:
df=pd.DataFrame({'A':[1,2,np.nan],'B':[5,np.nan,10],'C':[10,np.nan,np.nan]})
print(df)

     A     B     C
0  1.0   5.0  10.0
1  2.0   NaN   NaN
2  NaN  10.0   NaN

In [41]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [42]:
df['A'].fillna(value=df.mean())

0    1.0
1    2.0
2    NaN
Name: A, dtype: float64

In [43]:
df.fillna(value=df['A'].mean())

     A     B     C
0  1.0   5.0  10.0
1  2.0   1.5   1.5
2  1.5  10.0   1.5

In [44]:
df['A'].fillna(value=df['A'].sum())

0    1.0
1    2.0
2    3.0
Name: A, dtype: float64

In [45]:
df['A'].fillna(value=df.sum())

0    1.0
1    2.0
2    NaN
Name: A, dtype: float64

In [ ]:
df.fillna(value